<div id="sidebar-subsidiary" class="sidebar">
	<div class="widget">
		<h3 class="widget-title">Contact me</h3>
		<div class='vcard'>
			<a href="http://www.pitslamp.com" class="fn org url" title="PitsLamp &mdash; Photography">PitsLamp Photography</a>
			<div class='adr'>
			<div class='street-address'>Rue de l'etang 13</div>
			<span class='postal-code'>B-1315</span>
			<span class='locality'>Sart-Risbart</span>
			</div>
			<div class='tel_block'>
				<span class='tel_label'>Call me:</span>
				<span class='tel'>+32 486 36 29 61</span>
			</div>
			<span class='mail_label'>
				E.
				<a href="mailto:info@pitslamp.be" class="email">info@pitslamp.com</a>
			</span>
		</div>
	</div>
	<div class="widget">
		<h3 class="widget-title">Recent Posts</h3>
		  <ul>{{ range first 3 (where .Site.Pages "Type" "post") }}
		    <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
		  {{end}}</ul>
	</div>
</div>
<div id="footer">

							
				<p class="copyright">Copyright &#169; 2016 <a class="site-link" href="http://www.pitslamp.com" title="PitsLamp Photography" rel="home"><span>PitsLamp Photography</span></a></p>
				
			
</div>
<!-- Analytics code -->
{{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}