<div id="promo">
			<p class="promo-block">
				<strong>Promos and specials</strong>
			</p>
			<p class="promo-item">
				<a href="/actions/pay_what_you_want">
					<img src="/images/promo/pwyw.png" rel='Pay what you want promo' />
					<span class="promo-title">Pay what you want</span>
				</a>
			</p>
			<p class="promo-item">
				<a href="/polaroid_studio/">
					<img src="/images/promo/polaroid_studio.png" rel='Polaroid studio' />
					<span class="promo-title">Polaroid booth</span>
				</a>
			</p>
			<p class="promo-item last">
				<a href="/actions/bitcoin/">	
					<img src="/images/promo/bitcoin.png" rel="Bitcoin payments" />
					<span class="promo-title morelines">Bitcoin accepted</span>
				</a>
			</p>
</div>