<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<script>
/* <![CDATA[ */

var jqu = jQuery.noConflict();

jqu( function () {

	/* Fancybox */
	jqu( "a[href$='.jpg'], a[href$='.jpeg'], a[href$='.png'], a[href$='.gif']" ).attr( 'rel', 'lightbox' );
	jqu( "a[rel^='lightbox']" ).fancybox( { 
		transitionIn: 'elastic', 
		transitionOut: 'elastic', 
		overlayShow: false, 
		titleShow: 'inside', 
		cyclic: true, 
		speedIn: 400, 
		speedOut: 300, 
		titlePosition: 'inside',
		 } );	
	
	/* FitVids */
	jqu( ".entry-content" ).fitVids();
	
} );

/* ]]> */
</script>
<!-- slider function with all possible arguments -->
<script>
jQuery(document).ready(function($) {
	$('#header-banner').bjqs({
		// width and height need to be provided to enforce consistency
		// if responsive is set to true, these values act as maximum dimensions
		width : 640,
		height : 427,

		// animation values
		animtype : 'fade', // accepts 'fade' or 'slide'
		animduration : 450, // how fast the animation are
		animspeed : 4000, // the delay between each slide
		automatic : true, // automatic

		// control and marker configuration
		showcontrols : false, // show next and prev controls
		centercontrols : true, // center controls verically
		nexttext : '>', // Text for 'next' button (can use HTML)
		prevtext : '<', // Text for 'previous' button (can use HTML)
		showmarkers : false, // Show individual slide markers
		centermarkers : true, // Center markers horizontally

		// interaction values
		keyboardnav : true, // enable keyboard navigation
		hoverpause : true, // pause the slider on hover

		// presentational options
		usecaptions : true, // show captions for images using the image title tag
		randomstart : false, // start slider at random slide
		responsive : true // enable responsive capabilities (beta)
	});
});
</script>