{{ partial "head.html" . }}
<body class="home">
  {{ partial "header.html" . }}
    {{ partial "navbar.html" . }}
	{{ partial "promo.html" . }}
	</div>
    <div id="main">
		<div id="masthead">
			<div id="author-bio">
				<p>Hi, I'm Filip Bunkens a freelance photographer based in Belgium</p>
				<p>Since 2007, I'm doing what I love, which is creating photos. </p>
				<p>The main focus of my photography is based around creative concepts for brands, products, events and people.</p>
				<p>Among my clients, I can count several big brands, ie. IBM, De nationale loterij, iMinds, ABB, Startups.be and many more</p>
				<p>So if you are interested in working with me, don't hestitate to:
				<ul>
					<li>give me a call (+32 486 36 29 61)</li>
					<li>tweet ( <a href="http://www.twitter.com/pitslamp" title="PitsLamp on twitter" rel="me">@pitslamp</a>)</li>
					<li>or shoot me an <a href="/contact" rel="me" title="Contact form">e-mail</a></li>
				</ul>
			</div>
		<div id="header-banner" role="banner">
				<ul class="bjqs">
					<li><img src="/images/slider/20100905_drew_garnder_team_z-2.jpg" rel=""></li>
					<li><img src="/images/slider/20111013_ibbt_iminds_2011-5724.jpg"></li>
				</ul>
		</div>
		</div><!-- #content -->
	</div><!-- #main -->
    {{ partial "footer.html" .  }}
	{{ partial "script.html" .  }}
</body>
</html>
